<h2>Bienvenue sur le site des Jeux olympiques !</h2>

<div class="container-fluid">

    {{#each sports}}
    <div class="row" style="margin: 5px 20px 5px 20px;">
        <div class="card" style="width: 100%; max-width: 50rem;">
            <div class="card-body">
                 <div style="display:inline;float:right"> <form method="post" action="/api/sports/delete/{{id}}" style="display:inline"><button type="submit" class="btn btn-danger" style="display:inline">Supprimer</button></form></div>
                <div style="display:inline" class="card-title">{{name}}</div>
                <div style="display:inline"> <a href="/api/sports/{{id}}" class="card-link">Voir les athletes</a></div>
               </div>
        </div>
    </div>
    {{/each}}


     <form method="post" action="/api/sports" >
        <label for="tbSport"></label><input name="tbSport" type="text" class="form-control" id="tbSport" style="width:150px;display:inline">
        <button type="submit" class="btn btn-primary">Ajouter le sport</button>
    </form>
    <form method="post" action="/api/sports" id="formAthleteSport" name="formAthleteSport">
        <label for="tbSport">Athlète</label>
        <select name="sAthlete" id="sAthlete" style="width:150px;display:inline" class="form-control">
            <option value="">--Sélectionner--</option>
            {{#each athletes}}
                <option value="{{id}}">{{firstName}} {{lastName}}</option>
            {{/each}}
        </select>
        <label for="tbSport">Sport</label>
        <select name="sSport" id="sSport" style="width:150px;display:inline" class="form-control">
            <option value="">--Sélectionner--</option>
            {{#each sports}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
        <button onclick="AthleteSport();return false;" class="btn btn-primary">Lier l'athlète au sport</button>
    </form>
</div>